@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: .5em;
}

.app-container {
  display: grid;
  grid-template-columns: 10% auto;
}

.navbar {
  grid-column: 1 / 2;
}

.home {
  grid-column: 2 / 3;
}

.home > .mansory {
  max-width: 100%;
  padding-top: 2.7%;
  padding-left: 1%;
  padding-right: 2.7%;
  column-gap: .7%;
  column-count: 3;
}

.home > .mansory > .mansory_item {
  width: 100%;
  margin-bottom: 1.6%;
}

.mansory_item:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1450px) {
  .home > .mansory {
    column-count: 2;
  }
}

@media screen and (max-width: 1000px) {
  .home > .mansory {
    column-count: 1;
  }
}
