@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: .5em;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover 
{
   color:rgb(202, 144, 68); 
   text-decoration:none; 
   cursor:pointer;  
}

.app-container {
  display: grid;
  grid-template-columns: 10em auto;
}

.navbar {
  grid-column: 1 / 2;
}

.navbar > .menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 1.3em;
  padding-left: 2em;
  height: 30em;
}

.home {
  grid-column: 2 / 3;
}

.home > .mansory {
  max-width: 100%;
  padding-top: 3em;
  padding-right: 2.7em;
  padding-left: 2em;
  column-gap: .7em;
  column-count: 3;
}

.home > .mansory > .mansory_item {
  width: 100%;
  margin-bottom: .6em;
}

.mansory_item:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1450px) {
  .home > .mansory {
    column-count: 2;
  }
}

@media screen and (max-width: 1000px) {
  .home > .mansory {
    column-count: 1;
  }
}
