.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 500px;
}

.navbar {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}

.navbar logo {
  height: 1em;
}

.content {
  grid-row: 1 / -1;
}
